:root {
    --primary-titele-color: #ffffff;
    --secondary-titele-color: #212121;
    --primary-text-color: #757575;
    --second-text-color: #212121;
    --accent-color: #2196f3;
    --hero-background-color: #2f303a;
    --footer-contacst-color: rgba(255, 255, 255, 0.6);
    --btn-portfolio-color: #f5f4fa;
    --command-background: #f5f4fa;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}


/* БОДИ */

body {
    color: var(--primary-text-color);
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.03em;
    background-color: var(--primary-titele-color);
}


/* ХЕДЕР */

.header .container {
    outline: 2px solid tomato;
}

.header-container {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

.logo-web {
    color: var(--accent-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.header-logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--second-text-color);
    margin-right: 92px;
    padding-top: 25px;
    padding-bottom: 24px;
}

.header-list {
    display: flex;
    align-items: center;
}

.header-item:not(:last-child) {
    margin-right: 50px;
}

.header-contact-list {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
}

.header-contacst-link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header-contacst-link {
    margin-left: 50px;
}

.header-link:hover,
.header-link:focus,
.header-contacst-link:hover,
.header-contacst-link:focus,
.current,
.a:active {
    color: var(--accent-color);
}


/* МЕИН */


/* ХЕРО */

.hero {
    background: var(--hero-background-color);
    text-align: center;
}

.hero-container {}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-titele-color);
    margin-bottom: 35px;
    max-width: 696px;
}

.btn {
    color: var(--second-text-color);
    cursor: pointer;
    background-color: var(--accent-color);
    font-family: "Roboto";
    border: 0;
}

.btn:hover,
.btn:focus,
.btn:active {
    background-color: var(--accent-color);
    color: var(--primary-titele-color);
}

.header-btn {
    padding: 16px 32px;
    border-radius: 4px;
}


/* ХАРАКТЕРИСТИКИ */

.specifications-title {
    visibility: hidden;
}

.specifications-item-title {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--secondary-titele-color);
}

.specifications-paragraph {
    font-size: 14px;
    line-height: 1.71;
}


/* Чем мы занимаемся */

.work-title {
    font-size: 36px;
    line-height: 1.16;
    color: var(--secondary-titele-color);
}


/* НАША КОМАНДА */

.command {
    background-color: var(--command-background);
}

.command-title {
    font-size: 36px;
    line-height: 1.16;
    color: var(--secondary-titele-color);
}

.command-item-name {
    font-weight: 500;
    line-height: 1.18;
    color: var(--secondary-titele-color);
}

.command-profession {
    line-height: 1.18;
}


/* ФУТЕР */

.footer {
    background: var(--hero-background-color);
}

.address-footer-paragraph {
    font-size: 14px;
    font-style: normal;
    line-height: 1.71;
    color: var(--primary-titele-color);
}

.footer-contacst-link {
    font-size: 14px;
    line-height: 1.71;
    color: var(--footer-contacst-color);
}

.footer-logo {
    color: var(--primary-titele-color);
}

.footer-logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.address-footer-list {
    font-style: normal;
}

.address-footer-paragraph:hover,
.address-footer-paragraph:focus,
.footer-contacst-link:hover,
.footer-contacst-link:focus {
    color: var(--accent-color);
}


/* !!! PORTFOLIO !!! */


/* MAIN */

.btn-portfolio {
    font-family: "Roboto";
    font-weight: 500;
    line-height: 1.63;
    text-align: center;
    color: var(--second-text-color);
    cursor: pointer;
    background: var(--btn-portfolio-color);
    border: 0;
}

.all {
    background-color: var(--accent-color);
}

.btn-hero-portfolio .btn-portfolio:hover,
.btn-portfolio:focus,
.btn-portfolio:active {
    background-color: var(--accent-color);
    color: var(--primary-titele-color);
}

.portfolio-gallery-item {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--second-text-color);
}

.portfolio-gallery-form {
    line-height: 1.88;
}